body {
  font-family: verdana, arial, helvetica, sans-serif;
}

address {
  display: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  font-size: 13px;
  border: 0px;
  margin: 0px;
  padding: 2px 10px;
}

.indexcolicon    { width:  30px; }
.indexcollastmod { width: 180px; text-align: center; }
.indexcolsize    { width:  80px; text-align: right; }

tr.indexhead     { display: none; }
th.indexcolname  { text-align: left; }

td.indexcolicon  { padding-right: 0px; }
td.indexcolname  { padding-left:  0px; }
tr:hover td      { background-color: #eee; }
